body {
    background-color:lightblue;
  }
  h1 {
    color: rgb(8, 70, 2);
    font-size: 60px;
    font-family:cursive;
  }
  h4{
    color: rgb(70, 6, 107);
    font-size: 40px;
    font-family:cursive;}
  img {
    width: 250px;
    height: 400px;
    border: rgb(46, 27, 92) solid 5px ;
  }
  button{
color: rgb(4, 43, 88);
background-color: rgb(77, 140, 161);
    font-size: 40px;
border:rgb(2, 43, 105) solid 5px;

  }